{% extends 'farmsphere/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotorn">
<div class="container">
  <div class="row">
    <div class="col-sm-4">
    	<div class="card">
            <div class="card-body">
            <h5 class="card-title">Contact Me:</h5>
            <p><a href="#" class="btn btn-primary">Facebook</a></p>
            <p><a href="#" class="btn btn-primary">Instagram</a></p>
            <p><a href="#" class="btn btn-primary">Github</a></p>
            <p><a href="#" class="btn btn-primary">Linked In</a></p>
            <p>Phone Number :9123456789</p>
            <p>Email id:manimekala.r05@gmail.com</p>
       </div>
  </div>
   </div>
    <div class="col-sm-6">
    	<div class="card">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
       </div>
    </div>
  </div>
</div>
{% endblock%} 
